name: Manual Workflow
on:
  workflow_dispatch:
    
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "My Name "
          echo "my age "
          echo "i am"
          
          
        
